/* Color Palette */
.{ color: #A3AFBF; }
.{ color: #D9BCA3; }
.{ color: #BF7256; }
.{ color: #59352D; }
.{ color: #BF5349; }

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #59352D;
}

header {
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    color: #5A5755;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

section {
    margin-bottom: 20px;
}

select {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #E4E2E0;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #5A5755;
    margin-top: 10px;
}

select:focus {
    outline: none;
    border-color: #999;
}

h2 {
    color: #5A5755;
}

#profileResult {
    padding: 10px;
    border: 1px solid #E4E2E0;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #5A5755;
}

footer {
    background-color: #FFFFFF;
    padding: 10px;
    font-size: 10px;
    text-align: right;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    color: #5A5755;
}
